*,*::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  font-size: 14px;
  font-family: 'Nurito-Sans';
  background-color: var(--bg-clr);
  transition: background-color 0.2s ease-in, color 0.2s ease-in;
}

h1, h2, h3 {
  line-height: 1.1;
  font: inherit;
}

img, svg {
  max-width: 100%;
  display: block;
}

input, select, textarea, button {
  font: inherit;
  border: none;
  outline: none;
  background: inherit;
}

li {
  list-style: none;
}

input:focus, select:focus {
  border: none;
  outline: none;
}

:root {
  --Dark-Blue-Dark-Mode-Elements: hsl(208, 23%, 22%);
  --Dark-lighter-Blue-Dark-Mode-Elements: #52728f;
  --Very-Dark-Blue-Dark-Mode-Background: hsl(207, 26%, 17%);
  --Very-Dark-Blue-Light-Mode-Text: hsl(200, 15%, 8%);
  --Dark-Gray-Light-Mode-Input: hsl(0, 0%, 52%);
  --Very-Light-Gray-Light-Mode-Background: hsl(0, 0%, 98%);
  --White-Dark-Mode-Text-and-Light-Mode-Elements: hsl(0, 0%, 100%);


  --bg-clr: hsl(0, 0%, 100%);
  --txt-clr: hsl(200, 15%, 8%);
  --box-shadow: rgba(170, 170, 170, 0.486);
}


.dark-mode {
  --bg-clr: hsl(207, 26%, 17%);
  --txt-clr:hsl(0, 0%, 100%);
  --box-shadow:transparent;
}

.dark-mode .header-container, 
.dark-mode .tools-item, 
.dark-mode .input-btn, 
.dark-mode .back-btn, 
.dark-mode .options-container,
.dark-mode .border-country {
  --bg-clr: hsl(209, 23%, 22%);
  --txt-clr:hsl(0, 0%, 100%);
}

.dark-mode .card, 
.dark-mode .country-data-container,
.dark-mode .country-name {
  --bg-clr:hsl(209, 23%, 22%);
  --txt-clr: hsl(0, 0%, 100%);
}

.dark-mode .card {
  --box-shadow: #132631;
}

.dark-mode .table-cell-info,
.dark-mode .border-countries-title {
  color: hsl(0, 0%, 98%);
}

.dark-mode 
.country-data__info  {
  color: var(--White-Dark-Mode-Text-and-Light-Mode-Elements);
}

.dark-mode .country-data__info .table-cell-info {
  font-weight: 300;
  color:hsl(0, 0%, 92%);
}

.dark-mode .loading-more {
  color:hsl(0, 0%, 92%);
}

.dark-mode .map-icon {
  fill:hsl(0, 0%, 65%);
}

@font-face {
  font-family: 'Nurito-Sans';
  src: url('/fonts/Nunito_Sans/NunitoSans-VariableFont_YTLC,opsz,wdth,wght.ttf') format('truetype');
  font-weight: 300 800;
  font-style: normal;
}


.fw-300 {
  font-weight: 300;
}

.fw-600 {
  font-weight: 600;
}

.fw-800 {
  font-weight: 800;
}

.fs-600 {
  font-size: clamp(1.4rem, 0.2rem + 1vw, 2.2rem);
}

.fs-500 {
  font-size: 1.2rem;
}

.flex-item {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid-item {
  display: grid;
  gap: var(--gap, 1rem);
}

.container {
  max-width: 1250px;
  margin-inline: auto;
}






